pandas
numpy
nibabel
torch==2.8.0+cu129
neurite @ https://github.com/adalca/neurite/archive/02347d4cfcf15a295ba9d3e1c093d3329a16624e.zip
voxelmorph @ https://github.com/voxelmorph/voxelmorph/archive/e0283979c543c49dd65e0ee6fe6bc0b61b4a2e56.zip
